body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
}

/* コンテナ */
.container {
    width: 350px; 
    max-height: 80vh; /* コンテナの最大高さを設定 */
    overflow-y: auto; /* 縦方向にスクロール可能にする */
    padding: 40px; /* パディングを追加 */
    border: 1px solid #ccc; /* ボーダーを追加 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* シャドウを追加 */
    background-color: #ffffff; /* 背景色を追加 */
    border-radius: 5px;
    margin-top: 10px;
}

/* タイトル */
h1 {
  text-align: center;
}

/* 段落 */
p {
  margin: 5px 0;
}

/* 入力フィールド */
input[type="text"],
input[type="date"],
input[type="time"],
textarea,
input[type="button"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 概要テキスト */
textarea {
  resize: vertical; 
  height: 100px; 
}

/* 追加ボタン */
input[type="button"] {
  width: 100%;
  background-color: #0033ff;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #0022cc;
}

/* 必須項目 */
.required::after {
  content: "*";
  color: #cc0000;
  font-size: 1.1em;
  /*---- "*"の位置 ----*/
  vertical-align: -0.15em; 
  /*---- ここまで ----*/
  margin-left: 0.1em;
}

/* 日付項目 */
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}



.btn {
    display:  inline-block;
    color: #fff;
    text-decoration:  none;
    background-color: #2196F3;
    border-radius: 5px;
    position:  relative;
    height: 50px;
    width: 50px;
    cursor:pointer;
}

.btn::before {
    content:  '';
    width: 20px;
    height: 20px;
    display:  block;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(-45deg);
    position:  absolute;
    top: 10px;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;
}




input,
label {
  margin: 0.4rem 0;
}
