body {
    position: relative;
  	height: 500px;
  	font-size: 30px;
    background-color: #006699;
  }

div {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	width: 500px;
	text-align: center;/*一応BOX内の文字も中央寄せ*/
}

/* ボタンのデザイン */
input{
  background: #0033ff;/*ボタン色*/
  color: #FFF;
  width: 130px;
  height: 50px;
  font-size: 20px;
}

.font {
	color: #FFFFFF;
}