<<<<<<< HEAD

.disp-img{

    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */              
    width:auto;                                   /* 横幅のサイズを指定    */
    height:400pX;                                 /* 縦幅のサイズを指定    */
}
=======
>>>>>>> 8ff90a6a4580b7f244074c427587bc6474d7dff0
body {
    background-color: #006699;
}

.sl {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding-right: 100px;
    margin-bottom: 0; 
}

.sl a {
    color: white;
    text-decoration: none;
    margin-left: 100px;
}

.sl a:hover {
    color: white;
    text-decoration: none;
}
<<<<<<< HEAD
=======

.GatherWise {
    color: white;
    text-align: center;
    font-size: 5em;
    margin-top: 0px; /* 上部のマージンを追加 */
    
}

.bird {
    display: block;
    margin: 20px auto 0;
    width: 470px;
}
>>>>>>> 8ff90a6a4580b7f244074c427587bc6474d7dff0
