body {
<<<<<<< HEAD
	background-color: #006699;
}
=======
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

p {
  margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="button"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="button"] {
  width: 100%;
  background-color:  #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color:  #0077ff;
}
>>>>>>> 0c2cbb5edb8f24737951c7570e0f5bb6635bae43
